body {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    animation: floatUpDown 3s ease infinite;
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0.1vw); /* Adjust translateY using viewport width */
    }
    50% {
        transform: translateY(-0.1vw); /* Adjust translateY using viewport width */
    }
}

.image {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#image1 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/fbc66e73-f7e2-499b-9a04-2361157a4a57.main-image.png?v=1713907914599");
    background-size: 100%;
}

#image1blur {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/full%20pixel.png?v=1715051088318");
    background-size: 100%;
    z-index: 4;

}

#image2 {
    background-image: url("");
    background-size: 100%;
    background-position: bottom;
}

#woman2background2 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/womannnn.png?v=1714689465077");
    background-size: 200%;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 6;
    transform-origin: center; /* Ensure transformations happen from the left center */
}

#woman2 {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/dkslkdfslnkfss.png?v=1714518692089");
    background-size: 100%;
    z-index: 4;


}

#woman3background1 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/Screenshot_2024-05-04_at_9.03.47%E2%80%AFPM.png?v=1715090759146");
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 6;
    transform-origin: center; /* Ensure transformations happen from the left center */
}

#image6 {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/Screenshot%202024-04-25%20at%205.18.06%E2%80%AFPM.png?v=1714080403561");
    background-size: 110%;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 6;


}

#w1met {
    font-family: "freight-big-pro", serif;
    font-weight: 400;
    font-style: italic;
    left: 0%;
    top: 20%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w1caption {
    font-family: "freight-big-pro", serif;
    font-weight: 400;
    font-style: italic;
    left: 20%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}


.text-container {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
}


.background-text {
    font-family: "freight-big-pro", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -150px; /* Adjust the value to move the paragraph up */
    align-items: center;
    font-size: 200px;
    color: white;
    transition: all 0.3s ease;
}
