* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(255, 213, 0);
  }
  
  .slider {
    width: 90vw;
    height: 65vh;
    overflow-x: scroll;
    scrollbar-width: none;
    cursor: grab;
  }
  
  .slider::-webkit-scrollbar { display: none; }
  
  .slider-track {
    width: max-content;
    height: inherit;
    display: flex;
    gap: 0.5rem;
  }
  
  .slider-item {
    width: min(600px,60vw);
    height: inherit;
  }
  
  .slider-item {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the text appears above the slider images */
    color: rgb(255, 213, 0);
    
  }
  
  .slider-image {
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 213, 0);
  
  }
  
  .active  { cursor: grabbing; }
  
  
  