section {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    animation: floatUpDown 3s ease infinite;
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0.1vw); /* Adjust translateY using viewport width */
    }
    50% {
        transform: translateY(-0.1vw); /* Adjust translateY using viewport width */
    }
}


@media only screen and (max-width: 600px) {
    .p {
        font-family: "freight-big-pro", serif;
        font-weight: 400;
        font-style: italic;
        left: 0%;
        top: 20%;
        align-items: center;
        font-size: 10px;
        position: fixed;
        color: white;
        z-index: 5;
    }
} 

.image {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.image-with-caption {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

#image1 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/fbc66e73-f7e2-499b-9a04-2361157a4a57.main-image.png?v=1713907914599");
    background-size: 100%;
}

#image1blur {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/95ad7148-6cf1-4582-b55b-430fcd6ddbb6.full%20pixel.jpg?v=1715148596046");
    background-size: 140%;
    z-index: 4;
}

#lastimage {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/fbc66e73-f7e2-499b-9a04-2361157a4a57.main-image.png?v=1713907914599");
    background-size: 100%;
}

#lasttext {
        font-family: "freight-big-pro", serif;
        font-weight: 400;
        font-style: italic;
        margin-top: 400px; /* Adjust the value to move the paragraph up */
        align-items: center;
        font-size: 100px;
        z-index: 8;
        color: rgb(237, 247, 255);
        transition: all 0.3;
} 

#lastblur {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/95ad7148-6cf1-4582-b55b-430fcd6ddbb6.full%20pixel.jpg?v=1715148596046");
    background-size: 140%;
    z-index: 2;
}

#image2 {
    background-image: url("");
    background-size: 100%;
    background-position: bottom;
}

#woman2background2 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/556673e8-0895-47ab-84dc-07749ef26f3b.bachvjhb.png?v=1715057599325");
    background-size: 200%;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 1;
    transform-origin: center; /* Ensure transformations happen from the left center */
}

#woman2 {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/dkslkdfslnkfss.png?v=1714518692089");
    background-size: 100%;
    z-index: 5;

}

#woman3background1 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/Screenshot_2024-05-04_at_9.03.47%E2%80%AFPM.png?v=1715090759146");
    background-size: 100%;
    background-position: center;
    position: absolute;
    bottom: -100;
    top: 0;
    z-index: 7;
    transform-origin: center; 
}

#woman3background2 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/Screenshot_2024-05-04_at_9.03.47%E2%80%AFPM%202.png?v=1715090761297");
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 8;
    transform-origin: center; /* Ensure transformations happen from the left center */
}

#woman3background3 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/Screenshot_2024-05-04_at_9.03.47%E2%80%AFPM%205.png?v=1715091093860");
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 9;
    transform-origin: center; /* Ensure transformations happen from the left center */
}

#woman3 {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/Screenshot_2024-05-04_at_9.03.47%E2%80%AFPM%203.png?v=1715090763297");
    background-size: 100%;
    z-index: 9;
    left: -4%;
    top: -4%;
}

#woman3yellow {
    background-image: url("https://cdn.glitch.global/dfc81ada-2d96-408e-aa89-e5bf6c0e27be/Screenshot_2024-05-04_at_9.03.47%E2%80%AFPM%204.png?v=1715090765891");
    background-size: 100%;
    z-index: 10;
}

#woman4 {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/n.png?v=1715221408032");
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 1;
    transform-origin: center; /* Ensure transformations happen from the left center */
}


#woman5 {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/Screenshot%202024-05-07%20at%2010.49.04%E2%80%AFAM.png?v=1715093542961");
    background-size: 100%;
    z-index: 1;
}

#woman6 {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/adcdb440-b920-4262-84cc-29a3c4fed8d8.Screenshot%202024-05-07%20at%2010.54.54%E2%80%AFAM.png?v=1715093923924");
    background-size: 100%;
    z-index: 2;
}

#image6 {
    background-image: url("https://cdn.glitch.global/570400b6-e26e-49a0-9b9e-0719483b3d3b/Screenshot%202024-04-25%20at%205.18.06%E2%80%AFPM.png?v=1714080403561");
    background-size: 110%;
}

.paragraph {
    font-family: "freight-big-pro", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: rgb(255, 243, 201);
    margin-left: 50px;
    margin-right: 50px;
    z-index: 6;
}

#text1 {
    font-family: "freight-big-pro", serif;
    font-weight: 400;
    font-style: italic;
    left: 5%;
    top: 53%;
    align-items: center;
    text-align: center;
    font-size: 220px;
    position: fixed;
    color: rgb(255, 243, 201);
    z-index: 5;
}
#w1met {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 0%;
    top: 22%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(255, 243, 201);
    z-index: 5;
}

#w2met {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 0%;
    top: 20%;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(255, 243, 201);
    z-index: 4;
}

#w3met {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 6%;
    top: 26%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(255, 243, 201);
    z-index: 7;
}

#w4met {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 5%;
    top: 28%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(255, 243, 201);
    z-index: 7;
}

#w5met {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 0%;
    top: 22%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(255, 243, 201);
    z-index: 7;
}

#w6met {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 0%;
    top: 27%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(255, 243, 201);
    z-index: 7;
}

#w1caption1 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 9%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption2 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 9%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption3 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 9%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption4 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 10%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption5 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 10%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption6 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 10%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption7 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 10%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption8 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 16%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption9 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 16%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption10 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 16%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}

#w1caption11 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 12%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}
#w1caption12 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 12%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: rgb(237, 247, 255);
    z-index: 5;
}



#w2caption1 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 5%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption2 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 5%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption3 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    top: 30%;
    left: 5%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption4 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 23%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption5 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 23%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption6 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 23%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption7 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 27%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption8 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 27%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption9 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w2caption10 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption1 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 18%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption2 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 18%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption3 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 18%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption4 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 18%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption5 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 15%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption6 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 15%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption7 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 15%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption8 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 15%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption9 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 29%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption10 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 29%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w3caption11 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 30%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w4caption1 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 20%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption2 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 20%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption3 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 20%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption4 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption5 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption6 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption7 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 10;
}
#w4caption8 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption9 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption10 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 22%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption11 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 22%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption12 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption13 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w4caption14 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w5caption1 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w5caption2 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption3 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption4 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 30%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption5 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 30%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption6 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 30%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption7 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption8 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption9 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption10 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w5caption11 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 26%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}

#w5caption12 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 26%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption1 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption2 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption3 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption4 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 11%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption5 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 11%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption6 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 11%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption7 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 11%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption8 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 8%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption9 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 8%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption10 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 8%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption11 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 24%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption12 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 24%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption13 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 24%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption14 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}
#w6caption15 {
    font-family: "helvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    left: 13%;
    top: 30%;
    align-items: center;
    font-size: 100px;
    position: fixed;
    color: white;
    z-index: 5;
}


.text-container {
    font-family: "freight-big-pro", serif;
        font-weight: 400;
        font-style: italic;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
}

.background-text {
    font-family: "freight-big-pro", serif;
    font-weight: 400;
    font-style: italic;
    margin-top: -190px; /* Adjust the value to move the paragraph up */
    align-items: center;
    font-size: 250px;
    color: rgb(237, 247, 255);
    transition: all 0.3s ease;
}

@media only screen and (max-width: 600px) {
    /* Target elements with IDs starting with 'w_met_' */
   .text-container {
        font-size: 10px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        align-items: center;

        /* Adjust any other styles as needed */
    }
    #text1 {
        font-size: 140px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        align-items: center;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
        /* Adjust any other styles as needed */
    
    #w1caption1 {
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption2{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption3
    {
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption4{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption5{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption6{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption7{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption8{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption9{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption10{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption11{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
    #w1caption12{
        font-size: 50px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 20%;
        margin-right: 20%;
         position: center; /* Consider using absolute positioning */
        text-align: center; /* Adjust any other styles as needed */
        }

        #w2caption1 {
            font-size: 10px; /* Adjust the font size as needed for mobile screens */
            position: center; /* Consider using absolute positioning */
            padding-right: 15%;
             position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
            }

#w2caption2 {
        font-size: px; /* Adjust the font size as needed for mobile screens */
        position: center; /* Consider using absolute positioning */
        padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
            top: 50%;
        }
        #w2caption3 {
            font-size: 50px; /* Adjust the font size as needed for mobile screens */
            position: center; /* Consider using absolute positioning */
            padding-right: 15%;
                position: center; /* Consider using absolute positioning */
                text-align: center; /* Adjust any other styles as needed */
            }
            #w2caption4 {
                font-size: 50px; /* Adjust the font size as needed for mobile screens */
                position: center; /* Consider using absolute positioning */
                padding-right: 15%;
                    position: center; /* Consider using absolute positioning */
                    text-align: center; /* Adjust any other styles as needed */
                }
        #w2caption5 {
            font-size: 50px; /* Adjust the font size as needed for mobile screens */
            position: center; /* Consider using absolute positioning */
            padding-right: 15%;
            position: center; /* Consider using absolute positioning */
            text-align: center; /* Adjust any other styles as needed */
        }
        #w2caption6 {
            font-size: 50px; /* Adjust the font size as needed for mobile screens */
            position: center; /* Consider using absolute positioning */
            padding-right: 15%;
                position: center; /* Consider using absolute positioning */
                text-align: center; /* Adjust any other styles as needed */
            }
            #w2caption7 {
                font-size: 50px; /* Adjust the font size as needed for mobile screens */
                position: center; /* Consider using absolute positioning */
                padding-right: 15%;
                    position: center; /* Consider using absolute positioning */
                    text-align: center; /* Adjust any other styles as needed */
                }
    
    #w1met {
        font-size: 40px; /* Adjust the font size as needed for mobile screens */
        margin-left: 18%;
        margin-right: 18%;
        top: 34%;
        position: center; /* Consider using absolute positioning */
        /* Adjust any other styles as needed */
    }
    #w2met {
        font-size: 10px; /* Adjust the font size as needed for mobile screens */
        margin-left: 25%;
        margin-right: 25%;
        top: 47%;
        position: center; /* Consider using absolute positioning */
        /* Adjust any other styles as needed */
    }
    #w3met {
        font-size: 10px; /* Adjust the font size as needed for mobile screens */
        margin-left: 40%;
        margin-right: 38%;
        top: 51%;
        position: center; /* Consider using absolute positioning */
        /* Adjust any other styles as needed */
    }
    #w4met {
        font-size: 10px; /* Adjust the font size as needed for mobile screens */
        margin-left: 35%;
        margin-right: 40%;
        top: 47%;
        position: center; /* Consider using absolute positioning */
        /* Adjust any other styles as needed */
    }
    #w5met {
        font-size: 10px; /* Adjust the font size as needed for mobile screens */
        margin-left: 38%;
        margin-right: 38%;
        top: 47%;
        position: center; /* Consider using absolute positioning */
        /* Adjust any other styles as needed */
    }
    #w6met {
        font-size: 10px; /* Adjust the font size as needed for mobile screens */
        margin-left: 40%;
        margin-right: 40%;
        top: 47%;
        position: center; /* Consider using absolute positioning */
        /* Adjust any other styles as needed */
    }
}